/* #region Plugin */

body {
  /* Timeline Line Styling */
  --timeline-line-width: 3px;
  --timeline-line-padding: 12px;
  --timeline-line-style: solid;
  --timeline-line-margin-inline-start: 0px;

  /* Timeline Dot Styling */
  --timeline-dot-separation: 10px;
  --timeline-dot-right-padding: 20px;
  --timeline-dot-size: 18px;

  /* Timeline Dot Children Styling */
  --timeline-dotChildren-padding: 10px;
  --timeline-dotChildren-left-add-padding: 25px;
  --timeline-dotChildren-top-margin: 10px;
  --timeline-dotChildren-bottom-margin: 10px;
}

/* Hides indentation guide only on timeline */
.show-indentation-guide .el-ul ul li[data-task="t"] ul::before {
  border-inline-end: none !important;
}

/* Timeline */
.el-ul ul li[data-task="t"] {
  margin-inline-start: var(--timeline-line-margin-inline-start);

  /* Hide Timeline Parent Task */
  > input[type="checkbox"],
  > p input[type="checkbox"],
  > span.list-collapse-indicator {
    display: none !important;
  }

  /* Timeline Bullets & Line */
  > ul > li {
    border-left-width: var(--timeline-line-width);
    border-left-style: var(--timeline-line-style);
    padding-inline: var(--timeline-line-padding);   
    margin-inline-start: var(--timeline-line-margin-inline-start);
    border-left-color: var(--timeline-line-color);

    &:not(:last-child) {
      padding-bottom: var(--timeline-dot-separation);
    }

    > span.list-bullet {
      padding-right: var(--timeline-dot-right-padding);

      &:has(+ span.list-collapse-indicator) {
        &:after {
          background-color: var(--timeline-dot-collapsible-color);
        }
      }

      &:has(+ span.list-collapse-indicator:hover) {
        &:after {
          box-shadow: 0 0 0 4px var(--timeline-dot-collapsible-shadow-color);
        }
      }

      &:after {
        width: var(--timeline-dot-size);
        height: var(--timeline-dot-size);
        background-color: var(--timeline-dot-color);
        color: var(--timeline-dot-color);
      }
    }

    > span.list-collapse-indicator {
      display: var(--timeline-dot-collapsible-display);  /* Allow Collapsing */
      cursor: var(--timeline-dot-collapsible-cursor); /* Allow Collapsing */

      svg {
        color: transparent !important;
      }
    }

    > ul > li {
      border-radius: 10px;
      margin-inline-start: var(--timeline-line-margin-inline-start);
      padding: var(--timeline-dotChildren-padding) var(--timeline-dotChildren-padding) var(--timeline-dotChildren-padding) calc(var(--timeline-dotChildren-left-add-padding) + var(--timeline-dotChildren-padding));
      margin-top: var(--timeline-dotChildren-top-margin);
      background-color: var(--timeline-dotChildren-background-color);

      &:not(:last-child) {
        margin-bottom: var(--timeline-dotChildren-bottom-margin);
      }
    }
  }
}

/* #endregion */

/* #region Settings */

.timeline-setting-section {
  margin-bottom: 10px;

  .timeline-setting-input {
    padding: 0.75em 0 !important;

    .timeline-setting-tooltip {
      display: inline;

      .timeline-setting-tooltip-icon {
        display: inline;
        margin-left: 5px;
      }
      
      .timeline-setting-tooltip-image {
        visibility: hidden;
        width: 500px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover,
      &:active {
        .timeline-setting-tooltip-image {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    > *:last-child {
      margin-inline-end: 0.75em !important;
    }
  }

  > .timeline-setting-section-header {
    font-size: larger;
    font-weight: bolder;
    width: 100%;
    border-bottom: 1px solid var(--background-modifier-border) !important;
  }

  .timeline-setting-table {
    caption {
      text-align: left;
      font-style: italic;
      margin: 15px;
    }

    th, td {
      border: none !important;
    }
  }
}

/* #endregion */